.Button {
  padding: 10px;
  height: auto;
  margin-top: var(--space-xs);
  font-family: var(--font-family-heading);
  font-weight: 700;
  font-size: var(--font-size-p);
  border-radius: 10px;
  border: none;

  &--primary {
    background-color: var(--color-secondary);
    color: var(--color-white);

    &:hover,
    &:focus {
      background-color: var(--color-secondary);
      color: var(--color-white);
    }
  }

  &--secondary {
    background-color: var(--color-background);
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary);

    &:hover,
    &:focus {
      background-color: var(--color-background);
      color: var(--color-secondary);
      border: 1px solid var(--color-secondary);
    }
  }

  &:disabled {
    background-color: var(--color-gray-lighter);
    color: var(--color-white);

    &:hover,
    &:focus {
      border: 0;
      font-weight: 700;
      background-color: var(--color-gray-lighter);
      color: var(--color-white);
    }
  }
}
