@define-mixin iconBase $width, $height: $width {
  width: $width;
  height: $height;
  display: inline-block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@define-mixin icon $icon-url, $width, $height: $width {
  @mixin iconBase $width, $height;
  background-image: svg-load($(icon-url));
}

@define-mixin iconFilled $icon-url, $icon-fill, $width, $height: $width {
  @mixin iconBase $width, $height;
  background-image: svg-load($icon-url, fill: $icon-fill);
}
